<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xxjy.common">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <activity android:name=".base.BindingActivity" />
        <activity android:name=".base.BaseActivity" />

        <!-- 去context实现 -->
        <provider
            android:name=".util.sp.ContextProvider"
            android:authorities="${applicationId}.common.provider"
            android:exported="false"
            android:multiprocess="true" />
    </application>

</manifest>