<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xxjy.push">
    <permission
        android:name="${JPUSH_PKGNAME}.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="${JPUSH_PKGNAME}.permission.JPUSH_MESSAGE" /> <!-- 华为角标 -->
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE" />
    <application>

        <!-- 这是3.3.0之前版本的接收方式，3.3.0开始是通过继承 JPushMessageReceiver并配置来接收所有事件回调。 -->
        <!-- 如果仍然需要在这个Receiver里接收，需要在JPushMessageReceiver 的子类里不重写对应的回调方法，或者重写方法且调用super -->
        <receiver
            android:name=".JpushReceiver"
            android:enabled="true">
            <intent-filter>

                <!-- Required 用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!-- Required 用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!-- Required 用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!-- Required 用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />

                <category android:name="${JPUSH_PKGNAME}" />
            </intent-filter>
        </receiver> <!-- User defined.  For test only  用户自定义接收消息器,3.0.7开始支持,目前新tag/alias接口设置结果会在该广播接收器对应的方法中回调 -->
        <!-- since 3.3.0 接收JPush相关事件 -->
        <receiver android:name=".MyJPushMessageReceiver">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />

                <category android:name="${JPUSH_PKGNAME}" />
            </intent-filter>
        </receiver> <!-- since 3.3.0 Required SDK核心功能 -->
        <!-- since 3.3.0 Required SDK 核心功能 -->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <!-- User defined.  For test only 继承自cn.jpush.android.service.JCommonService -->
        <service
            android:name=".JCommonServiceImpl"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service> <!-- since 3.5.6 新增华硕通道 -->
        <!-- JPUSH_CHANNEL 是为了方便开发者统计APK分发渠道。 -->
        <!-- 例如: -->
        <!-- 发到 Google Play 的APK可以设置为 google-play; -->
        <!-- 发到其他市场的 APK 可以设置为 xxx-market。 -->
        <!-- 渠道统计报表位于控制台页面的 “统计”-“用户统计”-“渠道分布” 中 -->
        <!-- 7826fa1c9ba5b3b56d1ce814   2020年11月14号之前的key -->
        <!-- android:value="775b0985fe62dea16cc1d29f" />  &lt;!&ndash; 775b0985fe62dea16cc1d29f是自己的 &ndash;&gt; -->
        <!-- ********************************************************************************************** -->
        <!-- ****************************************** 极光推送完毕 ***************************************** -->
        <!-- ********************************************************************************************** -->


    </application>
</manifest>